* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  transition: background 0.5s ease;
  min-height: 100vh;
}

.box {
  width: 100px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 0 10px 0 rgb(0, 0, 0);
  border-radius: 10px;
  background: white;
  display: grid;
  place-items: center;
  gap: 15px;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100;
  left: 10px;
}

.item {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  border-radius: 50%;
  box-shadow: 0 0 5px rgb(255, 255, 255);
  display: grid;
  cursor: pointer;
  place-items: center;
  background: #eee;
}

.cards {
  max-width: 1200px;
  width: 100%;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card,
.card2 {
  width: 200px;
  width: 200px;
  border-radius: 50%;
  border: 2px solid black;
  border-radius: 50%;
  height: 200px;
  /* display: flex; */
  background: linear-gradient(black, grey, white);
  transition: 0.4s ease; /* смена цвета */
  cursor: pointer;
  transition:
    background 0.4s ease,
    transform 0.2s;
}

.card:active,
.card2:hover {
  transform: scale(1.05);
}

.item:last-child {
  background-color: red;
  color: white;
  border-color: red;
  font-size: 20px;
  font-family: Arial;
}
.item:last-child:active {
  transform: scale(0.9);
  background-color: red;
}
